// MARIANNE
@font-face {
    font-family: 'Marianne';
    src: url('../fonts/Marianne-Bold.otf');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('../fonts/Marianne-ExtraBold.otf');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('../fonts/Marianne-Light.otf');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('../fonts/Marianne-Medium.otf');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('../fonts/Marianne-Regular.otf');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('../fonts/Marianne-Thin.otf');
    font-weight: 100;
    font-display: swap;
}